@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #003b49;
    font-family: Nunito, sans-serif;
}
h1 {
    text-align: center;
    padding: 20px;
    font-family: Nunito, sans-serif;
    background-color: #f2c75c;
    color: #003b49;
}

/* Scoreboard area */

.score-board {
    border: 3px solid #f2c75c;
    width: 80%;
    margin: 20px auto;
    color: #f2c75c;
    font-size: 45px;
    text-align: center;
    padding: 15px 20px;
    font-family: Nunito, sans-serif;
    position: relative;
}

.badge {
    background-color: #f2c75c;
    color: #003b49;
    font-family: Nunito, sans-serif;
    width: 15%;
}

#user-label {
    position: absolute;
    top: 10px;
    left: -60px;
}

#computer-label {
    position: absolute;
    top: 10px;
    right: -100px;
}

/* Action message area */

.action-message {
    text-align: center;
    color: #f2c75c;
    font-size: 45px;
}

/* Choice area with buttons for each choice */

.choices {
    text-align: center;
}

.choice {
    width: 7.5%;
    height: 45px;
    color: #003b49;
    background-color: #f2c75c;
}

.display-choices {
    position: relative;
    color: #f2c75c;
    font-weight: 100;
    text-align: center;
}

/* Game display area */

.display-game {
    
    border-width:2px;
    border-style:solid;
    border-color: #f2c75c;
    width: 50%;
    margin: 20px auto;
    position: relative;
    height: 75%;
    text-align: center;
}

.game-images {
    border-width:2px;
    border-style:solid;
    border-color: #f2c75c;
    display: inline-block;
    margin: 40px 50px;
    
}

#user-image, #computer-image {
    height: 275px;
    width: 275px;
}

/* Results paragraph */

.result {
    text-align: center;
    font-size: 45px;
    color: #f2c75c;
}


/* Media queries for responsiveness */

@media screen and (max-width: 1000px) {
    #user-label {
        position: relative;
        width: 110px;
        top: -5px;
    }
    #computer-label {
        display: inline block;
        right: -15px;
        width: 110px;
    }
    #user-score, #computer-score, #score-keeper {
        position: relative;
        bottom: 60px;
    }
    .score-board {
        height: 100px;
    }
}

@media screen and (max-width: 750px) {
    #user-image, #computer-image {
        height: 200px;
        width: 200px;
    }
    .choice {
        width: 65px;
    }
}

@media screen and (max-width: 600px) {
    #user-image, #computer-image {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .display-game {
        width: 200px;
    }
    h1 {
        font-size: 20px;
    }
    .badge {
        height: 30px;
        font-size: 20px;
        font-weight: bold;
    }
    .score-board {
        height: 50px;
    }
    #user-score, #computer-score, #score-keeper {
        font-size: 20px;
        font-weight: bold;
    }
}